<div class="row container-fluid">
    <div class="col-4"></div>
    <div class="col-md-4 mt-5">
        <div class="p-5 mt-5">
            <div class="login-container text-center">
                <h1 class="mt-4"><strong>Admin</strong></h1>
                <form (ngSubmit)="Login()" [formGroup]="adminArray">
                    <div>
                        <input class="form-control mb-3 mt-4" type="text" placeholder="Enter Admin Id" formControlName="UserId" name="User">
                        <input class="form-control" type="password" placeholder="Enter your Password" formControlName="password" name="password">
                        <button class="btn btn-success mt-4 mb-3 w-50" type="submit">Login</button>
                    </div>
                </form>

                <div class="hr-div h-100">
                    <p class="hr-or">or</p>
                </div>
                
                <div class="mb-4">
                    <button class="btn btn-outline-danger admin-button" (click)="SuperAdmin()">Super Admin</button>
                    <button class="btn btn-outline-primary admin-button" (click)="AdminUser()">Admin User</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>